.chk-dogru-container{
    text-align: right;
}

.cevap{
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.cevap.default{
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

.cevap.yanlis{
	background:#d9534f;
	border: 1px solid #d73925;
}

.cevap.dogru{
	background:#5cb85c;
	border: 1px solid #008d4c;
}

.cevap.sari{
    background-color: #f0ad4e;
    border: 1px solid #eea236;
}

.box-body .soruIcerik{
    height:350px;
}

.box-body .soruIcerik .soru{
    margin-bottom:10px;
}

.box-body .soruIcerik .soru img{
    max-width:100%;
    height:auto;
}

.box-body .soruIcerik .soru table{
    width:100% !important;
}

#popover-content{
    display:none;
}
.popover-content{
    position:relative;
}
.popover-content .overlay{
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(255,255,255,0.7);
}
.popover-content .overlay i.fa{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

.bootstrap-tagsinput{
    width: 100%;
    min-height: 120px;
}

.sinav-q-checked{
    display:none;
    position:absolute;
    background: rgba(255,255,255,0.7);
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.sinav-q-checked i{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: -125px;
    color: #000;
    font-size: 250px;
} 

.soru-bosluk input[type="text"]{
    display: block;
    margin: 0;
    width: 100%;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    height: 100px;
    margin-bottom: 20px;
}

.soru-bosluk input[type="text"]:focus {
  border: solid 5px #969696;
}

.kod-giris-container{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10%;
}

.kod-giris-logo{
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.kod-giris-logo a{
    text-decoration:none;
}

@keyframes colorchange
{
  0%   {background: white;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: white;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@keyframes colorchange
{
  0%   {background: white;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: white;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

.kod-giris-logo a{
    color: #444;
}

.kod-giris-icerik input[type="text"]{
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 0 15px 2px;
    font-size: 17px;
    background: white;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -2px #ebebeb;
    box-shadow: inset 0 -2px #ebebeb;
}

.kod-giris-icerik input[type="text"]:focus {
    border-color: black;
    outline: none;
    -webkit-box-shadow: inset 0 -2px gray;
    box-shadow: inset 0 -2px gray;
}

.kod-giris-icerik a{
    text-decoration:none;
    display: block;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 22px;
    line-height:54px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #333;
    border: 0;
    border-bottom: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px gray;
    box-shadow: inset 0 -2px gray;
}

#loader-wrapper {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background:#222;
}
#loader {
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;

    border: 3px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
    z-index: 1500;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    border-radius: 50%;
} 

/* copy and paste the animation inside all 3 elements */
/* #loader, #loader:before, #loader:after */
-webkit-animation: spin 1.5s linear infinite;
animation: spin 1.5s linear infinite;
 
/* include this only once */
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper #content {
    color:#FFF;
    text-align: center;
    width:100%;
    position: relative;
    top: 50%;
    margin-bottom: 75px;
}

.col-center {
   float: none;
   margin-right: auto;
   margin-left: auto;
}

.kagit {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 50px 0 50px;
  padding: 24px;
  position: relative;
  width: 100%;
  text-align:center;
}
.kagit:before, .kagit:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.kagit:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.kagit:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

.kagit img{
  max-width:100% !important;
  height:auto !important;
}

.kagit .kategori{
  position: absolute;
  top: -30px;
  right: 0;
  background: #f0ad4e;
  padding: 10px;
  border-radius: 20px;
}

.kagit .ipucu{
  position: absolute;
  top: -30px;
  left: 0;
}

.kagit .ipucu button{
  margin:0;
  padding:10px;
}

.secenek-div a, .buton{
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FFF;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin: 20px 0;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;

  width:100%;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.secenek-div a:hover, .secenek-div a:focus,.buton:hover, .buton:focus {
  color: #000;
  outline: 0;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.soru-container{
    margin-top:20px;
}

.senkron-giris-ust{
    border-bottom:2px solid #FFE066;
}

.senkron-giris-ust .bilgi{
    text-align: center;
    background: #FFE066;
    padding: 20px;
    color: #247BA0;
    font-size: 25px;
    margin: 0;
}

.senkron-giris-ust h3{
    background: #247BA0;
    margin: 0;
    text-align: center;
    font-size: 85px;
    padding: 30px;
    color: #FFF;
}

.senkron-kullanici-sayi{
    font-size: 20px;
    color:#FFF;
}

.senkron-kullanici-sayi span{
    border:1px solid #FFE066;
    border-radius:50%;
    font-size:50px;
    padding:5px 20px;
}

ul#kullaniciListesi{
    display:block;
    list-style:none;
}

ul#kullaniciListesi li{
    float:left;
}

ul#kullaniciListesi li a{
    display: block;
    color: #FFF;
    padding: 50px;
    text-decoration: none;
    cursor: -webkit-grabbing;
}

ul#kullaniciListesi li a:hover{
    color:#FFE066;
    text-decoration: line-through;
}

.senkron-baslat .buton{
    width:auto;
    display:inline-block;
}
